<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
 <nav th:fragment="navbar">
<!--  頁面主標題 -->
	<div class="header-title notranslate" translate="no">Daily News</div>

	<!-- 導覽列 -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 mb-4">
		<div class="container-fluid">
			<a class="navbar-brand" href="/index" translate="no">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active" href="/index">Top30</a></li>
					<li class="nav-item"><a class="nav-link" href="/cnn">CNN</a></li>
					<li class="nav-item"><a class="nav-link" href="/bbc">BBC</a></li>
					<li class="nav-item"><a class="nav-link" href="/nhk">NHK</a></li>
				</ul>
				
				    <ul class="navbar-nav ms-auto">
          <form class="d-flex ms-auto align-items-center"
            th:action="@{/search}" method="get">
            <div class="input-group input-group-sm" style="max-width: 250px;">
              <button class="btn btn-outline-light" type="submit">搜尋</button>
              <input type="text" name="keyword"
                class="form-control white text-black border-0"
                placeholder="輸入關鍵字…" aria-label="Search">
            </div>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- 未登入 -->
<div th:fragment="auth-section">
  <div th:if="${session.name == null}"
    style="position: absolute; top: 5px; right: 20px; z-index: 1050; background-color: #f8f9fa; padding: 5px 10px; border-radius: 8px; color: #6c757d;">
    <a class="btn btn-sm btn-outline-light me-2 custom-auth-btn"
      th:href="@{/login}" style="color: #6c757d;">登入</a>
    <a class="btn btn-sm btn-outline-light custom-auth-btn"
      th:href="@{/register}" style="color: #6c757d;">註冊</a>
  </div>
<!-- 已登入 -->
  <div th:if="${session.name != null}"
    style="position: absolute; top: 5px; right: 20px; z-index: 1050; background-color: #f8f9fa; padding: 5px 10px; border-radius: 8px; color: #6c757d;">
    <span class="text-warning me-2"> 歡迎!<strong
      th:text="${session.name}" style="color: #6c757d;">使用者</strong>
    </span>
    <a id="logoutBtn" class="btn btn-sm btn-outline-light me-2"
      th:href="@{/logout}" style="color: #6c757d;">登出</a>
  </div>
</div>

<script th:fragment="session-script" th:src="@{/js/member.js}"></script>
<script th:fragment="session-inline-script" th:inline="javascript">
  window.USER_SESSION = {
    isLoggedIn: /*[[${session.name != null}]]*/ false,
    userId: /*[[${session.userId}]]*/ null,
    name: /*[['${session.name}']]*/ ''
  };
  window.IS_LOGGED_IN = /*[[${session.name != null}]]*/ false;
</script>

</body>
</html>